
#main{
	float:left;
	width:85%;
}


.el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }
  
  .el-aside {
    color: #333;
    float: left;
  }
  
  html,body,#app {height: 100%;}
  body{
  	padding:0px;
  }